
<section>

  <div class="container">
    <div class="card" style="width:700px">
      <div class="card-body">
      <h4 class="card-title">Subscribed Plans</h4>
        <p id="notice"><%= notice %></p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Monthly Charges</th>
                <th colspan=2>Action</th>
              </tr>
            </thead>

            <tbody>
              <% @buyer_plans.each do |plan| %>
                <tr>
                  <td><%= plan.name %></td>
                  <td>US$<%= plan.monthly_fee %>/mo</td>
                  <td><%= link_to 'Increase Usage', show_usage_buyer_subscription_path(plan.id), remote: true %></td>
                  <td><%= link_to 'Unsubscribe', buyer_subscription_path(plan.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <br>
  </div>
  </div>
  </div>
<div id='usage-content'></div>
</section>
